<html>
<head>
    <title>Member - <%= result[0].email %></title>
</head>
<body>
<h1>Members</h1>
<ul>
    <li>Member ID: <%= result[0].member_id%></li>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>Email: <%= result[0].email %></li>
</ul>
</body>

</html>